@import '@/styles/colors';
@import '@/styles/mixins';

.controls {
  font-size: 0.9em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  .right {
    display: flex;
    align-items: center;

    .addJob {
      width: 9em;
      height: 3em;
      background-color: $clr-add-btn;
      color: $clr-white;
      border-radius: .6em 3em .6em .6em;
      
      @include btn-hover {
        background-color: lighten($clr-add-btn, 10%);
        scale: 1.05;
      }

      span {
        font-size: 1.25em;
      }

      @media (max-width: 30em) {
        display: none;
      }
    }
  }
}