@import "@/styles/colors";

.container {
  max-width: 75em;
  margin: 0 auto;

  .logo {
    margin: 0 auto;
    width: 13em;
    height: auto;
  }

  .main {
    display: flex;
    margin-top: 1em;
    padding-inline: 2em;
  }

  @media (max-width: 69em) {
    .main {
      flex-direction: column;
    }

    .aboutAppDiv {
      padding-inline: 2em;
      width: 100%;
    }
  }

  @media (max-width: 38em) {
    .logo {
      font-size: 0.45rem;
      font-size: clamp(0.45rem, -0.1rem + 2.8947368421052633vw, 1rem);
    }
  }
}
