@import "@/styles/colors";
@import "@/styles/mixins";

.selectedColumns {
  margin-right: 1em;
  position: relative;

  .btn {
    display: flex;
    gap: 0.5em;
    color: $clr-bg-300;
    font-weight: 500;
    padding: 0.37em 0.625em;
    border: 1px solid $clr-bg-300;
    border-radius: 0.6em;

    @include btn-hover {
      background-color: $clr-bg-100;
      scale: 1.05;
    }
  }

  .selection {
    position: absolute;
    top: 110%;
    right: 0;
    width: 150%;
    background-color: $clr-bg-200;
    color: $clr-text;
    display: flex;
    flex-direction: column;
    gap: 1em;
    border-radius: 1em;
    padding: 1em 2em;

    .col {
      width: 100%;
      font-weight: 500;

      @include btn-hover {
        scale: 1.05;
      }
    }
  }
}
