@import '@/styles/colors';
@import '@/styles/mixins';

.burgerMenu {
  @media (min-width: 38em) {
    display: none;
  }
}

.menu {
  z-index: 100;
  position: absolute;
  top: 95%;
  left: 0;
  width: 100vw;
  padding-block: 1em;
  background: linear-gradient(180deg, #beecf7 0.64%, #4CC9F0 64.72%, #4361EE 120.89%);
  border-radius: 0 0 1em 1em;

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

    li {
      font-size: 1.25em;
      font-weight: 500;
      color: $clr-text;

      @include btn-hover {
        scale: 1.1;
        font-weight: 600;
      }
      
      &:last-child {
        margin-top: 1em;
      }
      
    }
  }
}

.signOut {
  display: flex;
  align-items: center;
  gap: 2px;
  color: $clr-text;

  @include btn-hover {
    scale: 1.1;
    font-weight: 600;
  }
}