@import "@/styles/colors";
@import "@/styles/mixins";

.controls {
  font-size: 0.9em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .5em;
  
  .right {
    display: flex;
    align-items: center;

    .addJob {
      width: 9em;
      height: 3em;
      background-color: $clr-add-btn;
      color: $clr-white;
      border-radius: .6em 3em .6em .6em;
      
      @include btn-hover {
        background-color: lighten($clr-add-btn, 10%);
        scale: 1.05;
      }

      span {
        font-size: 1.25em;
      }

      @media (max-width: 30em) {
        display: none;
      }
    }
  }
}

.tableWrapper {
  width: 100%;
  overflow: auto;

  @include custom-scrollbar($clr-bg-300);
}

.table {
  width: 100%;
  border-collapse: collapse;
  td {
    padding: 1em 3em 1em 0;

    &:first-child {
      padding-right: 1em;
      padding-left: 1em;
    }
  }

  thead {
    font-weight: bold;
    text-align: left;
    background-color: rgba($clr-bg-100, 0.5);

    th {
      padding: 1em 3em 1em 0;
      transition: 0.2s ease-out;
      &:hover {
        background-color: $clr-bg-100;
        cursor: pointer;
      }

      &:first-child {
        color: transparent;

        &:hover {
          background-color: transparent;
        }
      }
    }
  }

  tbody td {
    color: #636363;
    white-space: nowrap;
  }

  tbody tr {
    background-color: rgba($clr-bg-100, 0.5);
  }

  tbody tr:nth-child(odd) {
    background-color: #ffffff;
  }
}
