.signInCards {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 69em) {
  .signInCards {
    width: 100%;
    height: 100vh;
  }
}

@media (max-width: 38em) {
  .signInCards {
    font-size: 0.6em;
    font-size: clamp(0.6rem, 0.2rem + 2.1052631578947367vw, 1rem);
  }
}