@import "@/styles/colors";
@import "@/styles/mixins";

.notes {
  height: 100%;
  overflow: auto;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(18em, 18em));
  grid-gap: 1em;

  @include custom-scrollbar($clr-bg-200);

  .add {
    @include note;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .note {
    @include note;
    padding: 1em;
    color: $clr-text;
    overflow: hidden;
    position: relative;

    .title {
      font-size: 1.25em;
      font-weight: 600;
      margin-bottom: 0.5em;
    }

    .content {
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .copyButton {
      position: absolute;
      bottom: -2px;
      right: -2px;
      padding: 1em;
      background-color: $clr-bg-100;
      border: 4px solid $clr-bg-200;
      border-radius: 1em 1em 3em 1em;

      img {
        width: 2em;
        height: 2em;
      }

      @include btn-hover {
        background-color: $clr-bg-200;
        border-color: $clr-bg-300;
        scale: 1.1;
      }
    }
  }
}
