@mixin btn-hover {
  transition: ease-out 0.2s;
  &:hover {
    @content;
    cursor: pointer;
  }

  &:active {
    scale: 0.9;
  }
}

@mixin custom-scrollbar($color) {
  &::-webkit-scrollbar {
    width: .6em;
  }
  
  &::-webkit-scrollbar-track {
    background-color: rgba($color, .3);
    border-radius: 1em;
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: $color;
    border-radius: 1em;
  }
  
  &::-webkit-scrollbar-thumb:hover {
    background-color: darken($color, 10%);
  }
}