@mixin btn-hover {
  transition: ease-out 0.2s;
  &:hover {
    @content;
    cursor: pointer;
  }

  &:active {
    scale: 0.9;
  }
}

@mixin custom-scrollbar($color) {
  &::-webkit-scrollbar {
    width: 0.6em;
  }

  &::-webkit-scrollbar-track {
    background-color: rgba($color, 0.3);
    border-radius: 1em;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color;
    border-radius: 1em;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: darken($color, 10%);
  }
}

@mixin colored-pill($color) {
  display: flex;
  justify-content: space-around;
  padding: 0.2em 0.6em;
  border-radius: 3em;
  border: 1px solid $color;
  color: black;
  background-color: lighten($color, 40%);
}

@mixin note {
  width: 18em;
  height: 18em;
  border: 4px solid $clr-bg-200;
  border-radius: 3em;
  background-color: rgba($clr-bg-100, .5);

  @include btn-hover {
    background-color: $clr-bg-100;
  }
}
